<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097011694914-c65cfp71sflt68uaa1ub8j968gs3529t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097011694914-c65cfp71sflt68uaa1ub8j968gs3529t</string>
	<key>API_KEY</key>
	<string>AIzaSyA3m-70-uQTG6zYdilQ5Nwv3tQpxSeyWZE</string>
	<key>GCM_SENDER_ID</key>
	<string>1097011694914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.bookany.usersApp</string>
	<key>PROJECT_ID</key>
	<string>clone-c3dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-c3dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097011694914:ios:d14968d574888e734cccdb</string>
</dict>
</plist>